<h2>Study Scheduling</h2>
<div class="row">
    <div class="col-sm">
        <table class="table table-hover" st-table="study" st-pipe="getStudy">
            <thead class="">
                <tr>
                    <th colspan="7" scope="col">
                        <form class="form-inline my-2 my-lg-0" >
                            <input class="form-control mr-sm-2 ml-auto" type="search" placeholder="Search"
                                   aria-label="Search" st-search="searchWord" ng-model="searchWord">
                            <button class="btn btn-outline-primary my-2 my-sm-0">Search</button>
                        </form>
                    </th>
                </tr>
            </thead>
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col">Patient</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col" style="width: 80px">Planned Start time</th>
                <th scope="col" style="width: 80px">Estimated End time</th>
                <th style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stud in study">
                <th scope="row" class="align-middle">{{$index + 1 + indexOffset}}</th>
                <td class="align-middle">{{stud.patient.name}}</td>
                <td class="align-middle">{{stud.description}}</td>
                <td class="align-middle">
                    <select ng-model="stud.status" ng-change="selectStatus(stud)" class="form-control"
                    style="min-width: 130px">
                        <option value="PLANNED">Planned</option>
                        <option value="IN_PROGRESS">In progress</option>
                        <option value="FINISHED">Finished</option>
                    </select>
                </td>
                <td class="align-middle">{{stud.plannedStartTime}}</td>
                <td class="align-middle">{{stud.estimatedEndTime}}</td>
                <td class="d-flex justify-content-end">
                    <a href="#!/study/{{stud.id}}"
                       class="mx-2 btn btn-light btn-resize"
                       data-toggle="tooltip"
                       title="Edit">
                        <span class="fas fa-edit"></span>
                    </a>
                    <button type="button"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            ng-click="remove(stud)"
                            class="mx-2 btn btn-light btn-resize"
                            data-toggle="tooltip"
                            title="Remove">
                        <span class="fas fa-trash-alt"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <a class="btn btn-primary mt-3" href="#!/study/new">Add</a>
                </td>
                <td colspan="6" >
                    <div class="d-flex justify-content-center align-items-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" ></div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete "{{removeStudy.description}}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="delete()" data-dismiss="modal">Remove</button>
            </div>
        </div>
    </div>
</div>