<div class="row">
    <div class="col-sm">
        <div class="m-3">
            <h2 ng-if="study.id !== undefined">Edit Study</h2>
            <h2 ng-if="study.id === undefined">Add new Study</h2>
            <form name="myForm" ng-submit="saveStudy();">
                <div class="form-group">
                    <label for="patient" >Patient</label>
                    <select id="patient" ng-model="study.patient" class="form-control"
                    ng-options="patient as patient.name for patient in patients track by patient.id" required>
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description" >Description</label>
                    <input type="text" class="form-control" id="description" placeholder="enter study description"
                           ng-model="study.description" required>
                </div>
                <div class="form-group">
                    <label for="status" >Status</label>
                    <select id="status" ng-model="study.status" class="form-control" required>
                        <option value="PLANNED">Planned</option>
                        <option value="IN_PROGRESS">In progress</option>
                        <option value="FINISHED">Finished</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pst" >Planned Start time</label>
                    <input type="datetime-local" class="form-control" id="pst" ng-model="study.pst" required>
                </div>
                <div class="form-group">
                    <label for="eet" >Estimated End time</label>
                    <input type="datetime-local" class="form-control" id="eet" ng-model="study.eet">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <botton class="btn btn-secondary" ng-click="back()">Back</botton>
            </form>
        </div>
    </div>
</div>